<h1>StaticPages#landing_page</h1>
<p>Find me in app/views/static_pages/landing_page.html.erb</p>
<%= link_to privacy_policy_path, class: "btn btn-lg btn-warning" do %>
  <%= fa_icon "file-word" %>
  Privacy Policy
<% end %>
<%= link_to courses_path, class: "btn btn-lg btn-success" do %>
  <%= fa_icon "book" %>
  Courses
<% end %>
